:root {
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common css */
.main {
    margin: 0 auto;
    width: 1600px;
}

.container {
    border-radius: 16px;
    width: 1320px;
    margin: 120px auto 120px auto;
}

/* bannar starts */
#bannar {
    margin-top: 40px;
}

.bannar {
    background-image: linear-gradient(to bottom, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url("../img/Banner\ Image.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 600px;
    color: var(--white);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin: 0 auto;
}

.bannar>h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bannar>h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

/* bannar ends */
/* discount starts */
.discount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount>img {
    width: 802.9px;
}

.discount>h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount>h4 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 48px;
}

.discount>h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 16px;
    padding-bottom: 48px;
}

/* discount ends */
/* party starts */
.party {
    display: flex;
    background-image: linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url("../img/Vectorrr.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.party-text {
    padding: 126px 0 0 126px;
}

.party-text>h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.party-text>p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding-top: 24px;
    padding-bottom: 48px;
}

.party-text>button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 32px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}
.party-text>button:hover {
    color: #F00;
}

.party-img {
    padding: 69.01px 176.23px 67.23px 39.17px;
}

/* party ends */

/* party-time starts */
.party-time {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.party-time>p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.party-time>button {
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    margin-top: 48px;
    cursor: pointer;
}
.party-time>button:hover {
    background: rgb(221, 1, 1);
}
.red {
    color: #FF0000;
}

/* party-time ends */
/* bonus starts */
.bonus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col1>h4 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    padding-top: 112px;
}

.col1>h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 16px;
}

.col1>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 393px;
    padding-top: 22px;
}

.col2>img {
    padding: 49.08px;
    border-radius: 463px;
    border: 15px solid #F00;
}

.col3>h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 112px;
}

.col3>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 276px;
    padding-top: 16px;
    padding-bottom: 43px;
}

/* bonus ends */
/* sales starts */
.sales-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sales-text>h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sales-text>h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 16px;
}

.sales-text>p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    padding-top: 28px;
    width: 1068px;
}

.sales-img {
    padding-top: 64px;
    position: relative;
}

.sales-img-part {
    display: flex;
}

.img1 {
    height: 662.07px;
}

.img2 {
    width: 428px;
    height: 433px;
    margin-left: 94.54px;
}

.img3 {
    position: absolute;
    top: 150.17px;
    right: 285.82px
}

.img4 {
    position: absolute;
    bottom: 1px;
    z-index: -1;
}

/* sales ends */
/* portfolio starts */
.portfolio-text>h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio-text>h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 16px;
}

.portfolio-text>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 896px;
    padding-top: 22px;
}

.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    height: 924px;
    /* justify-content: space-between; */
    margin-top: 48px;
}

.portfolio-img>img {
    height: 450px;
    width: 424px;
}
.portfolio-img>img:hover {
    border-radius: 10px;
    background: #FFF;
    box-shadow: rgba(255, 0, 0, 0.1) 0px 0px 30px 16px;
}

/* portfolio ends */
/* newsletter starts */
.newsletter {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 616px;
}

.newsletter img {
    padding-top: 80px;
}

.newsletter h2 {
    padding-top: 40px;
    padding-bottom: 22px;
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.newsletter p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 896px;
    padding-bottom: 48px;
}

.subscribe {
    position: relative;
    z-index: 1;
}

.subscribe input {
    width: 648px;
    height: 72px;
    border: none;
}

.subscribe input[type="email"] {
    border-radius: 50px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30px;
}

.subscribe button {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    position: absolute;
    right: 0;
    z-index: 2;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}
.subscribe button:hover {
    background: rgb(221, 1, 1);
}

/* newsletter ends */
/* footer starts */
#footer {
    background: #070211;
    width: 1600px;
    height: 609px;
}
.footer {
    padding: 120px 0 120px 0;
}
.footer .contact {
    display: flex;
    justify-content: space-between;
    width: 1185px;
}

.contact p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    width: 375px;
}

.contact .contact-num .contact-num1 {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 251px;
}

.contact .contact-num .contact-num1 img {
    width: 24px;
    height: 24px;
}

.contact .contact-num .contact-num1 a {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

.footer hr {
    margin: 48px 0 50px 0;
    background-color: rgba(255, 255, 255, 0.15);
    width: 1320px;
    height: 1px;
    border: none;
}

.footer .social-link {
    display: flex;
    width: 328px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer .copyright {
    display: flex;
    justify-content: space-between;
}

.footer .copyright p ,a {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer .copyright a {
    text-decoration: none;

}

/* footer ends */